body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #ffffff;
    color: #000;
    text-align: center;
}

/* cabecera*/
header {
    background-color: #111;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header .highlight {
    color: #f07;
}

header p {
    margin: 5px 0 0;
    font-size: 14px;
}
/* Sección de perfil */
.fondo1 {
    margin: 30px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #000;
    border-radius: 30px;
    color: #fff;
}

.bienvenida {
    color: cyan;
    font-size: 24px;
}

.avatar {
    width: 200px;
    height: auto;
    border-radius: 20px;
    margin: 20px 0;
}

.descripcion {
    font-size: 16px;
    padding: 0 10px;
}
/* Redes sociales */
.redes h3 {
    font-size: 22px;
    margin-top: 40px;
}

.red {
    color: #f07;
}

.azul {
    color: #0ff;
}

.redes-sociales {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.redes-sociales li {
    margin: 10px 0;
}

.redes-sociales a {
    display: inline-block;
    width: 200px;
    background-color: #000;
    color: #fff;
    padding: 12px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.redes-sociales img {
    width: 25px;
    vertical-align:middle;
    margin-right: 15px;
}
/* Páginas oficiales */
.fuentes {
    margin-top: 40px;
}

.fuentes h3 {
    font-size: 22px;
    margin-bottom: 20px;
}

.naranja {
    color: #f60;
}

.verde {
    color: #0a0;
}

.logos img {
    height: 60px;
    margin: 10px;
}

.fuente-texto {
    font-weight: bold;
    font-size: 14px;
    color: #f60;
}
/* creditos */
footer {
    background-color: #111;
    color: #fff;
    padding: 10px 0;
    margin-top: 40px;
}